<div id='signup'>
  <h1>Sign Up</h1>
  <form name="signupForm" ng-submit='signup( signupForm.$valid )' novalidate>
    <input name="userInput" type='text' ng-model='user.username' ng-class="{ 'error': signupForm.userInput.$invalid && shortenForm.$dirty }" required>
    <input name="pwdInput" type="password" ng-model='user.password' ng-class="{ 'error': signupForm.pwdInput.$invalid && shortenForm.$dirty }" required>
    <button>Sign Up</button>
  </form>
  <a href="#/signin">Already have an account? <strong>Sign In</strong> ...</a>
</div>